.text_title{
	font-size: 20px;
}
.common-bg{
	background-color: blue;
	background-image: #;
	background-repeat: repeat-x;
	background-attachment: ;/*fixed（固定的），scroll（滚动的），inherit（这个设置继承父元素），local（图片随滚动元素滚动）*/
	background-position: bottom right;
}